{% extends "organizations/_cp/settings/_layout" %}
{% import "_includes/forms" as forms %}
{% from "organizations/_cp/_components/sites" import uriSettings %}

{% block actionButton %}
    <div class="btngroup submit right">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ "Save and continue editing"|t('app') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="{{ baseActionPath }}/save"/>
    {{ redirectInput(baseCpPath) }}

    <div id="general">
        {% set stateOptions = [] %}
        {% for state, name in craft.organizations.settings.getUserStates() %}
            {% set stateOptions = stateOptions|merge([{
                label: name,
                value: state
            }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: 'Default User State',
            instructions: 'The state to be applied when user/organization association is established',
            id: 'defaultUserState',
            name: 'defaultUserState',
            options: stateOptions,
            value: settings.defaultUserState,
            errors: settings.getErrors('defaultUserState'),
        }) }}

        {{ uriSettings(settings, true) }}
    </div>
    <div id="layout" class="hidden">
        {% include "_includes/fieldlayoutdesigner" with {
            fieldLayout: settings.getFieldLayout()
        } only %}
    </div>
{% endblock %}